# coding: utf-8

"""
    Onepanel

    # Overview  This is the RESTful API definition of **Onepanel** component of Onedata data management system [onedata.org](http://onedata.org).  > This API is defined using [Swagger](http://swagger.io/), the JSON specification can be used to automatically generate client libraries -   [swagger.json](../../../swagger/onepanel/swagger.json).  This API allows control and configuration of local Onedata deployment, in particular full control over the **Onezone** and **Oneprovider** services and their distribution and monitoring on the local resources.  The API is grouped into 3 categories of operations:   * **Onepanel** - for common operations   * **Oneprovider** - for Oneprovider specific administrative operations   * **Onezone** - for Onezone specific administrative operations  Each of these components is composed of the following services:   * **Worker services** - these are available under `/zone/workers` and     `/provider/workers` paths,   * **Databases services** - each Onedata component stores it's metadata in a     Couchbase backend, which can be distributed on any number of nodes, these     are available under `/zone/databases` and `/provider/databases` paths,   * **Cluster manager services** - this is a service which controls other     deployed processes in one site, these are availables under these are     available under `/zone/managers` and `/provider/managers` paths.  **Onezone** and **Oneprovider** components are composed of 3 types of services: **managers**, **databases** and **workers**.  Using this API each of these components can be deployed, configured, started and stopped on a specified host in the local site, in the context of either **Onezone** or **Oneprovider** service.  All paths listed in this documentation are relative to the base Onepanel REST API which is `/api/v3/onepanel`, so complete URL for a request to Onepanel service is:  ``` http://HOSTNAME:PORT/api/v3/onepanel/... ```  ## Authentication  ### Token authentication  The recommended, safest way of authenticating requests to Onepanel API is using the **Onedata access tokens**. The token should be present in `X-Auth-Token` or `Authorization: Bearer` header. See [Onezone documentation](/#/home/api/latest/onezone?anchor=section/Overview/Authentication-and-authorization) for detailed explanation of the token concepts.  Curl examples: ```bash curl -H \"X-Auth-Token: $TOKEN\" [...] curl -H \"Authorization: Bearer $TOKEN\" [...] curl -H \"Macaroon: $TOKEN\" [...]   # DEPRECATED ```   ### Passphrase authentication  The token authentication dependes on the Onezone service. In special cases - during Onezone deployment or its outage - it is necessary to use the local **emergency passphrase**.  The passphrase should be provided in a Basic authentication header with username `onepanel`. For curl users this means ```bash curl -u onepanel:TheEmergencyPassphrase ```  The passphrase can also be sent without any username, as the whole content of base64-encoded string in Basic authorization header, e.g. ```bash curl -H \"Authorization: Basic $(echo -n TheEmergencyPassphrase | base64)\" ```  The passphrase is set during deployment. It can be changed in the Onepanel GUI or with an API request: ```bash curl -X PUT 'https://$PANEL_HOST:9443/api/v3/onepanel/emergency_passphrase' \\ -u onepanel:TheEmergencyPassphrase -H 'Content-Type: application/json' \\ -d '{\"currentPassphrase\": \"TheEmergencyPassphrase\", \"newPassphrase\": \"TheNewPassphrase\"}' ```  ## API structure  The Onepanel API is structured to reflect that it can either be used to control **Onezone** or **Oneprovider** deployment, each Onedata component deployment has a separate Onepanel instance. In order to make the API calls explicit, **Onezone** or **Oneprovider** specific requests have different paths, i.e.:   * Onezone specific operations start with `/api/v3/onepanel/zone/`   * Oneprovider specific operations start with `/api/v3/onepanel/provider/`   * Common operations paths include `/api/v3/onepanel/users`,     `/api/v3/onepanel/hosts` and `/api/v3/onepanel/tasks`  The overall configuration of each component can be controlled by updating `/api/v3/onepanel/zone/configuration` and `/api/v3/onepanel/provider/configuration` resources.  ## Examples  Below are some example requests to Onepanel using cURL:  **Add storage resource to provider** ```bash curl -X POST -u onepanel:Passphrase1 -k -vvv -H \"content-type: application/json\" \\ -d '{\"NFS\": {\"type\": \"posix\", \"mountPoint\": \"/mnt/vfs\"}}' \\ https://172.17.0.4:9443/api/v3/onepanel/provider/storages ```  **Add a new Onezone worker** ```bash curl -X POST -u onepanel:Passphrase1 -k -vvv -H \"content-type: application/json\" \\ -d '{\"hosts\": [\"node1.p1.1.dev\"]}' \\ https://172.17.0.4:9443/api/v3/onepanel/zone/workers ```   # noqa: E501

    OpenAPI spec version: 21.02.3
    Contact: info@onedata.org
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from onepanel_client.api_client import ApiClient


class UserManagementApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_onezone_user(self, body, **kwargs):  # noqa: E501
        """Create Onezone user  # noqa: E501

        Creates a new Onezone user account with Basic (username & password) authentication enabled.  ***Example cURL requests***  **Create Onezone user with username & password** ```bash curl -H \"X-Auth-Token: $TOKEN\" -X POST https://$OZ_PANEL_HOST/api/v3/onepanel/zone/users \\ -H \"Content-Type: application/json\" -d '{     \"username\": \"someUser\",     \"password\": \"somePassword\" }'  {     \"id\": \"b519b3ac46823b2b83b6cb85e1b16f4fchaa0f\" } ```   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_onezone_user(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param OnezoneUserCreateRequest body: The user configuration details. (required)
        :return: Id
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.add_onezone_user_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.add_onezone_user_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def add_onezone_user_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create Onezone user  # noqa: E501

        Creates a new Onezone user account with Basic (username & password) authentication enabled.  ***Example cURL requests***  **Create Onezone user with username & password** ```bash curl -H \"X-Auth-Token: $TOKEN\" -X POST https://$OZ_PANEL_HOST/api/v3/onepanel/zone/users \\ -H \"Content-Type: application/json\" -d '{     \"username\": \"someUser\",     \"password\": \"somePassword\" }'  {     \"id\": \"b519b3ac46823b2b83b6cb85e1b16f4fchaa0f\" } ```   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_onezone_user_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param OnezoneUserCreateRequest body: The user configuration details. (required)
        :return: Id
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_onezone_user" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_onezone_user`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key1', 'api_key2', 'basic']  # noqa: E501

        return self.api_client.call_api(
            '/zone/users', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Id',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def change_user_password(self, body, id, **kwargs):  # noqa: E501
        """Set password for Onezone user  # noqa: E501

        Sets a new password for a Onezone user using Basic authentication.  ***Example cURL requests***  **Set Onezone user password** ```bash curl -H \"X-Auth-Token: $TOKEN\" -X PATCH https://$OZ_PANEL_HOST/api/v3/onepanel/zone/users/$USER_ID \\ -H \"Content-Type: application/json\" -d '{\"newPassword\": \"someNewPassword\"}' ```   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.change_user_password(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PasswordChangeRequest body: (required)
        :param str id: Id of the user whose password is changed. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.change_user_password_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.change_user_password_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def change_user_password_with_http_info(self, body, id, **kwargs):  # noqa: E501
        """Set password for Onezone user  # noqa: E501

        Sets a new password for a Onezone user using Basic authentication.  ***Example cURL requests***  **Set Onezone user password** ```bash curl -H \"X-Auth-Token: $TOKEN\" -X PATCH https://$OZ_PANEL_HOST/api/v3/onepanel/zone/users/$USER_ID \\ -H \"Content-Type: application/json\" -d '{\"newPassword\": \"someNewPassword\"}' ```   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.change_user_password_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PasswordChangeRequest body: (required)
        :param str id: Id of the user whose password is changed. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method change_user_password" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `change_user_password`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `change_user_password`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key1', 'api_key2', 'basic']  # noqa: E501

        return self.api_client.call_api(
            '/zone/users/{id}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_onezone_user(self, id, **kwargs):  # noqa: E501
        """Get Onezone user details  # noqa: E501

        Returns the configuration information of the Onezone user.  ***Example cURL requests***  **Get Onezone user details** ```bash curl -H \"X-Auth-Token: $TOKEN\" -X GET https://$OZ_PANEL_HOST/api/v3/onepanel/zone/users/$USER_ID  {     \"username\": \"someUser\",     \"userId\": \"b519b3ac46823b2b83b6cb85e1b16f4fchaa0f\",     \"fullName\": \"Unnamed User\" } ```   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_onezone_user(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Id of the user to be described. (required)
        :return: OnezoneUser
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_onezone_user_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_onezone_user_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_onezone_user_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get Onezone user details  # noqa: E501

        Returns the configuration information of the Onezone user.  ***Example cURL requests***  **Get Onezone user details** ```bash curl -H \"X-Auth-Token: $TOKEN\" -X GET https://$OZ_PANEL_HOST/api/v3/onepanel/zone/users/$USER_ID  {     \"username\": \"someUser\",     \"userId\": \"b519b3ac46823b2b83b6cb85e1b16f4fchaa0f\",     \"fullName\": \"Unnamed User\" } ```   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_onezone_user_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Id of the user to be described. (required)
        :return: OnezoneUser
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_onezone_user" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_onezone_user`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key1', 'api_key2', 'basic']  # noqa: E501

        return self.api_client.call_api(
            '/zone/users/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='OnezoneUser',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_onezone_users(self, **kwargs):  # noqa: E501
        """List Onezone users  # noqa: E501

        List Ids of Onezone users.  ***Example cURL requests***  **Get Onezone user ids** ```bash curl -H \"X-Auth-Token: $TOKEN\" -X GET https://$OZ_PANEL_HOST/api/v3/onepanel/zone/users  {     \"ids\": [         \"f891d1ddf693232bbf0c11fe3cd9f7e7cheda9\",         \"eefc8a11e1776d0797969ccf0b59c6dcch73dc\",         \"ec0a39261b325cdc74e9c2d6b54fa786ch0419\"     ] } ```   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_onezone_users(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: Ids
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_onezone_users_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_onezone_users_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_onezone_users_with_http_info(self, **kwargs):  # noqa: E501
        """List Onezone users  # noqa: E501

        List Ids of Onezone users.  ***Example cURL requests***  **Get Onezone user ids** ```bash curl -H \"X-Auth-Token: $TOKEN\" -X GET https://$OZ_PANEL_HOST/api/v3/onepanel/zone/users  {     \"ids\": [         \"f891d1ddf693232bbf0c11fe3cd9f7e7cheda9\",         \"eefc8a11e1776d0797969ccf0b59c6dcch73dc\",         \"ec0a39261b325cdc74e9c2d6b54fa786ch0419\"     ] } ```   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_onezone_users_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: Ids
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_onezone_users" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key1', 'api_key2', 'basic']  # noqa: E501

        return self.api_client.call_api(
            '/zone/users', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Ids',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
